<ion-view view-title="Nạp tiền ảo" align-title="center">
    <ion-content class="has-header text-left padding">

        <div class="list" style="margin-top: 100px">

            <div class="list">
                <div class="item item-divider stable-bg">
                    Chọn nhà mạng
                </div>
                <label class="item item-radio">
                    <input type="radio" ng-model="cardChargeForm.telco" value="viettel" checked="checked">

                    <div class="item-content">
                        Viettel
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" ng-model="cardChargeForm.telco" value="vinaphone">

                    <div class="item-content">
                        Vinaphone
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" ng-model="cardChargeForm.telco" value="mobifone">

                    <div class="item-content">
                        Mobifone
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" ng-model="cardChargeForm.telco" value="gate">

                    <div class="item-content">
                        Gate
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" ng-model="cardChargeForm.telco" value="vcoin">

                    <div class="item-content">
                        Vcoin
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
                <label class="item item-radio">
                    <input type="radio" ng-model="cardChargeForm.telco" value="zing">

                    <div class="item-content">
                        Zing
                    </div>
                    <i class="radio-icon ion-checkmark"></i>
                </label>
            </div>
            <div class="list">
                <div class="item item-divider stable-bg">
                    Mã PIN
                </div>
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" placeholder="" ng-model="cardChargeForm.pin">
                    </label>
                </div>

            </div>
            <div class="list">
                <div class="item item-divider stable-bg">
                    Số serial
                </div>
                <div class="item item-input-inset">

                    <label class="item-input-wrapper">
                        <input type="text" placeholder="" ng-model="cardChargeForm.serial">
                    </label>
                </div>
            </div>
            <div ng-bind="formWarning" class="assertive text-center padding"></div>
            <div class="padding">
                <button class="button button-block button-assertive" ng-click="doCardCharge()">
                    Nạp tiền
                </button>
            </div>

    </ion-content>

</ion-view>