<ion-view view-title="Cơ hội vận chuyển" hide-back-button="true" align-title="center">
    <ion-content class="has-header has-tabs text-left padding">
        <!-- Pull down refresher -->
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!-- end of refresher -->

        <div class="padding-vertical">
            <!-- Notification for no request -->
            <div class="list list-inset" ng-if="!chances.length">
                <div class="item item-text-wrap text-center">
                    Chưa có yêu cầu vận đơn nào
                </div>
            </div>
            <!-- end of notification -->

            <!-- Request list -->
            <div class="list list-inset" ng-repeat="chance in chances" ng-click="goDetail(chance)">
                <ion-item class="item-avatar stable-bg">
                    <div class="item item-image">
                        <img src="img/ionic.png">
                    </div>
                    <h2>{{chance.clientPhone}}</h2>

                    <p class="faded">{{chance.createdAt}}</p>
                </ion-item>
                <ion-item>
                    <p class="not-faded">Mô tả: {{chance.description}}</p>

                    <p class="not-faded">Địa chỉ gửi: {{chance.pickupLocation}}</p>

                    <p class="not-faded">Địa chỉ nhận: {{chance.receiveLocation}}</p>
                </ion-item>
                <ion-item class="item-image img" ng-if="chance.stuffImagePath.length">
                    <!-- Image -->
                    <img ng-src="{{chance.stuffImagePath}}">
                    <!-- end of image -->
                </ion-item>
            </div>
        </div>
        <!-- end of request list -->

        <!-- Load more scroll -->
        <ion-infinite-scroll ng-if='moreDataCanBeLoaded' on-infinite="loadMoreData()" icon="ion-loading-c"
                             distance="1%">
        </ion-infinite-scroll>
        <!-- end of scroll -->

    </ion-content>
    <div class="tabs-stable tabs-striped tabs-color-balanced">
        <div class="tabs ">
            <a class="tab-item active" href="#/tab/chance">
                <i class="icon ion-star"></i>
            </a>
            <a class="tab-item" href="#/tab/working">
                <i class="icon ion-paper-airplane"></i>
            </a>
            <a class="tab-item" href="#/tab/history">
                <i class="icon ion-chatboxes"></i>
            </a>
        </div>
    </div>
</ion-view>
