<ion-view view-title="Quản lý tiền ảo" hide-back-button="true" align-title="center">
    <ion-content class="has-header has-tabs text-left padding">
        <!-- Pull down refresher -->
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!-- end of refresher -->

        <div class="padding-vertical">
            <!-- Notification for no request -->
            <div class="list list-inset" ng-if="!transactions.length">
                <div class="item item-text-wrap text-center">
                    Chưa có giao dịch
                </div>
            </div>
            <!-- end of notification -->

            <!-- Request list -->
            <div class="list list-inset" ng-repeat="transaction in transactions">
                <div class="item item-divider balanced">
                    <span>{{transaction.amount}}</span>
                </div>
                <div class="item">
                    <label>{{transaction.reason}}</label>
                </div>
                <div class="item">
                    <label>Số xu còn: {{transaction.remainCoin}} xu</label>
                </div>
                <div class="item">
                    <label>{{transaction.createdAt}}</label>
                </div>
            </div>
        </div>
        <!-- end of request list -->

        <!-- Load more scroll -->
        <ion-infinite-scroll ng-if='moreDataCanBeLoaded' on-infinite="loadMoreData()" icon="ion-loading-c"
                             distance="1%">
        </ion-infinite-scroll>
        <!-- end of scroll -->

    </ion-content>
</ion-view>
