<ion-view view-title="Lịch sử giao dịch" hide-back-button="true" align-title="center">
    <ion-content class="has-header has-tabs text-left padding">
        <!-- Pull down refresher -->
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!-- end of refresher -->
        <label class="item item-input item-select">
            <div class="input-label">
                Hiển thị
            </div>
            <select ng-options="item.name for item in values" ng-model="selected" ng-change="loadData(selected.type)">
            </select>
        </label>

        <div class="padding-vertical">
            <!-- Notification for no request -->
            <div class="list list-inset" ng-if="!historyRequests.length">
                <div class="item item-text-wrap text-center">
                    Chưa có giao dịch nào
                </div>
            </div>
            <!-- end of notification -->

            <!-- Request list -->
            <div class="list list-inset" ng-repeat="historyRequest in historyRequests" ng-click="goDetail(historyRequest)">
                <ion-item class="item-avatar stable-bg">
                    <div class="item item-image">
                        <img src="img/ionic.png">
                    </div>
                    <h2>{{historyRequest.clientPhone}}</h2>

                    <p class="faded">{{historyRequest.createdAt}}</p>
                </ion-item>
                <ion-item>
                    <p class="not-faded">Mô tả: {{historyRequest.description}}</p>

                    <p ng-if="historyRequest.requestStatus == 4">Trạng thái: <span class="balanced">Thành công</span></p>
                    <p ng-if="historyRequest.requestStatus == 5">Trạng thái: <span class="assertive">Thất bại</span></p>

                    <p class="not-faded">Địa chỉ gửi: {{historyRequest.pickupLocation}}</p>

                    <p class="not-faded">Địa chỉ nhận: {{historyRequest.receiveLocation}}</p>
                </ion-item>
                <ion-item class="item-image img" ng-if="historyRequest.stuffImagePath.length">
                    <!-- Image -->
                    <img ng-src="{{historyRequest.stuffImagePath}}">
                    <!-- end of image -->
                </ion-item>
            </div>
        </div>
        <!-- end of request list -->

        <!-- Load more scroll -->
        <ion-infinite-scroll ng-if='moreDataCanBeLoaded' on-infinite="loadMoreData()" icon="ion-loading-c"
                             distance="1%">
        </ion-infinite-scroll>
        <!-- end of scroll -->

    </ion-content>
    <div class="tabs-stable tabs-striped tabs-color-balanced">
        <div class="tabs ">
            <a class="tab-item" href="#/tab/chance">
                <i class="icon ion-star"></i>
            </a>
            <a class="tab-item" href="#/tab/working">
                <i class="icon ion-paper-airplane"></i>
            </a>
            <a class="tab-item active" href="#/tab/history">
                <i class="icon ion-chatboxes"></i>
            </a>
        </div>
    </div>
</ion-view>
