<ion-view view-title="Đăng nhập" align-title="center">
    <ion-content class="has-header text-left padding">

        <div class="list" style="margin-top: 100px">
            <div class="item item-divider energized">
                Thông tin đăng nhập
            </div>
            <div class="item item-text-wrap">
                Tài khoản
            </div>
            <div class="item item-input-inset">

                <label class="item-input-wrapper">
                    <input type="text" placeholder="" ng-model="loginForm.username">
                </label>
            </div>
            <div class="item item-text-wrap">
                Mật khẩu
            </div>
            <div class="item item-input-inset">

                <label class="item-input-wrapper">
                    <input type="password" placeholder="" ng-model="loginForm.password">
                </label>
            </div>
        </div>
        <div ng-bind="formWarning" class="assertive text-center padding"></div>
        <div class="padding">
            <button class="button button-block button-balanced" ng-click="doLogin()">
                Đăng nhập
            </button>
        </div>

    </ion-content>

</ion-view>