<ion-view view-title="Hồ sơ cá nhân" hide-back-button="true" align-title="center">
    <ion-content class="has-header text-left padding">
        <!-- Pull down refresher -->
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!-- end of refresher -->
        <div class="item item-image image" ng-if="profile.avatarPath.length">

            <!-- Photo upload placeholder -->
            <!-- 	<div ng-if="!profile.imageSrc.length">
                    <i class="icon ion-camera energized" style="font-size: 50px;"></i>
                    <div class="energized">
                        Click để chọn ảnh
                    </div>
                </div> -->
            <!-- end of photo placeholder -->

            <!-- Image -->
            <img ng-src="{{profile.avatarPath}}">
            <!-- end of image -->
        </div>

        <div class="list list-inset margin-top">
            <div class="item item-divider">
                Thông tin cá nhân
            </div>

            <label class="item">
                Họ tên
				<span class="item-note">
					{{profile.fullName}}
				</span>
            </label>

            <label class="item">
                Email
				<span class="item-note">
					{{profile.email}}
				</span>
            </label>

            <label class="item">
                Số điện thoại
				<span class="item-note">
					{{profile.phoneNumber}}
				</span>
            </label>

            <label class="item">
                Giới tính
				<span class="item-note">
					{{profile.sex}}
				</span>
            </label>

            <label class="item">
                Số dư tiền ảo
				<span class="item-note">
					{{profile.coin}} <i class="icon ion-cash"></i>
				</span>
            </label>
        </div>

        <div class="list list-inset margin-top">

            <div class="item item-divider">
                Thông tin xác thực
            </div>
            <label class="item">
                Số CMTND
				<span class="item-note">
					{{profile.identifyCard}}
				</span>
            </label>
            <label class="item">
                Ngày cấp
				<span class="item-note">
					{{profile.identifyCardDate}}
				</span>
            </label>
            <label class="item">
                Nơi cấp
				<span class="item-note">
					{{profile.identifyCardPlace}}
				</span>
            </label>

            <div class="item item-image image" ng-if="profile.identifyCardFront.length">

                <!-- Photo upload placeholder -->
                <!-- <div ng-if="!profile.imageSrc.length">
                    <i class="icon ion-camera energized" style="font-size: 50px;"></i>
                    <div class="energized">
                        Ảnh CMTND mặt trước
                    </div>
                </div> -->
                <!-- end of photo placeholder -->

                <!-- Image -->
                <img ng-src="{{profile.identifyCardFront}}">
                <!-- end of image -->
            </div>

            <div class="item item-image image" ng-if="profile.identifyCardBack.length">

                <!-- Photo upload placeholder -->
                <!-- <div ng-if="!profile.imageSrc.length">
                    <i class="icon ion-camera energized" style="font-size: 50px;"></i>
                    <div class="energized">
                        Ảnh CMTND mặt sau
                    </div>
                </div> -->
                <!-- end of photo placeholder -->

                <!-- Image -->
                <img ng-src="{{profile.identifyCardBack}}">
                <!-- end of image -->
            </div>

            <label class="item">
                Số bằng lái
				<span class="item-note">
					{{profile.license}}
				</span>
            </label>
            <label class="item">
                Loại bằng
				<span class="item-note">
					{{profile.licenseType}}
				</span>
            </label>
            <label class="item">
                Ngày cấp phép
				<span class="item-note">
					{{profile.licenseStart}}
				</span>
            </label>
            <label class="item">
                Ngày hết hạn
				<span class="item-note">
					{{profile.licenseEnd}}
				</span>
            </label>
        </div>

        <div class="list list-inset margin-top">
            <div class="item item-divider">
                Trọng tải ưa thích
            </div>
            <label class="item">
                {{profile.minWeight}} - {{profile.maxWeight}} kg
            </label>
        </div>

        <div class="list list-inset margin-top">
            <div class="item item-divider">
                Thông tin uy tín
            </div>
            <label class="item">
                Bình chọn
				<span class="item-note" ng-if="!profile.starRating">
					Chưa có đánh giá
				</span>
                <img class="item-note" ng-src="img/5stars/{{profile.starRating}}.png" ng-if="profile.starRating">
            </label>
        </div>
        <div class="item item-divider ">
            Danh sách khách hàng đánh giá
        </div>

        <!-- Notification for no request -->
        <div class="list list-inset" ng-if="!requests.length">
            <div class="item item-text-wrap text-center">
                Chưa có đánh giá nào
            </div>
        </div>
        <!-- end of notification -->

        <!-- Request list -->
        <div class="list margin-top" ng-repeat="req in requests">
            <div class="item item-divider">
					<span ng-class="{energized: (req.rating === '5'),
								positive: (req.rating === '3'), balanced: (req.rating === '4'), assertive: (req.rating === '1'), royal: (req.rating === '2')}">
					{{req.phone}}
					</span>
                <img class="item-note" ng-src="{{get(req.rating)}}"/>
            </div>
            <div class="item">
                <textarea rows='2' disabled>{{req.comment}}</textarea>
            </div>

        </div>

    </ion-content>
</ion-view>
