<ion-view view-title="Chi tiết vận đơn" align-title="center">
    <ion-content class="has-header text-left">
        <!-- Pull down refresher -->
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!-- end of refresher -->
        <div class="list margin-top">
            <div class="item item-divider">
                Thông tin hàng hóa
            </div>
            <div class="padding">
                <div class="item item-image image" ng-if="type.stuffImagePath.length">
                    <!-- Image -->
                    <img  ng-src="{{type.stuffImagePath}}">
                    <!-- end of image -->
                </div>
            </div>
            <label class="item">
                Mô tả
				<span class="item-note item-text-wrap">
					{{type.description}}
				</span>
            </label>
            <label class="item">
                Chủng loại hàng
				<span class="item-note">
					{{type.feature}}
				</span>
            </label>
            <label class="item">
                Loại xe
				<span class="item-note">
					{{getVehicles(type.vehicleType)}}
				</span>
            </label>
            <label class="item">
                Kích thước
				<span class="item-note">
					{{type.length}}x{{type.width}}x{{type.height}}
				</span>
            </label>
            <label class="item">
                Cân nặng
				<span class="item-note">
					{{type.weight}}
				</span>
            </label>
            <label class="item">
                Địa chỉ gửi
				<span class="item-note item-text-wrap">
					{{type.sendAddress}}
				</span>
            </label>
            <label class="item">
                Địa chỉ nhận
				<span class="item-note item-text-wrap">
					{{type.receiveAddress}}
				</span>
            </label>
        </div>

        <div class="list margin-top">
            <div class="item item-divider">
                Thông tin người nhận
            </div>
            <label class="item">
                Họ tên
				<span class="item-note">
					{{type.receiverName}}
				</span>
            </label>
            <label class="item">
                Giới tính
				<span class="item-note">
					{{getGender(type.receiverGender)}}
				</span>
            </label>

            <label class="item">
                Ngày nhận
				<span class="item-note">
					{{type.receiverDatetime}}
				</span>
            </label>
            <label class="item">
                Số điện thoại
				<span class="item-note">
					{{type.receiverPhone}}
				</span>
            </label>
            <label class="item">
                Số CMT
				<span class="item-note">
					{{type.receiverIdentify}}
				</span>
            </label>
            <div class="padding">
                <div class="item item-image image" ng-if="type.receiverImagePath.length">
                    <!-- Image -->
                    <img  ng-src="{{type.receiverImagePath}}">
                    <!-- end of image -->
                </div>
            </div>
        </div>
        <div class="text-center padding">
            <button class="button button-small button-assertive" ng-click="cancel()">
                Hủy giao dịch
            </button>
        </div>
        </div>
        <!-- Request list -->

        <div ng-include="'templates/request_tab1.html'" class="padding-vertical">
        </div><!-- end of request list -->

        <!-- Load more scroll -->
        <ion-infinite-scroll ng-if='moreDataCanBeLoaded' on-infinite="loadMoreData()" icon="ion-loading-c" distance="1%">
        </ion-infinite-scroll>
        <!-- end of scroll -->

    </ion-content>

</ion-view>
