<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <h1 class="title">Gửi báo giá</h1>
        <button class="button button-clear button-positive" ng-click="closeNewBid()">Hủy</button>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="sendBid(sendBidForm)">
            <div class="padding-vertical">
                <div class="list list-inset">
                    <div class="item item-divider">
                        <span>Phí giao hàng</span>
                    </div>
                    <label class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="number" placeholder="Ví dụ: 200000" ng-model="sendBidForm.price">
                        </label>
                    </label>
                    <label class="item item-divider">
                        <span>Thời gian vận chuyển</span>
                    </label>
                    <label class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="datetime" placeholder="" ng-model="sendBidForm.transportAt">
                        </label>
                    </label>
                    <label class="item item-divider">
                        <span>Phương thức vận chuyển</span>
                    </label>
                    <label class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="" ng-model="sendBidForm.transportMethod">
                        </label>
                    </label>
                    <label class="item item-divider">
                        <span>Phương thức thanh toán</span>
                    </label>
                    <label class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="" ng-model="sendBidForm.paymentMethod">
                        </label>
                    </label>
                    <label class="item item-divider">
                        <span>Thông tin bổ sung</span>
                    </label>
                    <label class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="" ng-model="sendBidForm.moreInfo">
                        </label>
                    </label>
                </div>
                <div ng-bind="formWarning" class="assertive text-center padding"></div>
                <div class="padding">
                    <button type="submit" class="button button-block button-balanced">Gửi</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-modal-view>