<ion-view view-title="Đang thực hiện" hide-back-button="true" align-title="center">
    <ion-content class="has-header has-tabs text-left padding">
        <!-- Pull down refresher -->
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!-- end of refresher -->

        <div class="padding-vertical">
            <!-- Notification for no request -->
            <div class="list list-inset" ng-if="!workingRequests.length">
                <div class="item item-text-wrap text-center">
                    Chưa có giao dịch nào
                </div>
            </div>
            <!-- end of notification -->

            <!-- Request list -->
            <div class="list list-inset" ng-repeat="workingRequest in workingRequests" ng-click="goDetail(workingRequest)">
                <div class="item item-divider balanced">
                    <span>{{workingRequest.clientPhone}}</span>
                </div>
                <div class="item">
                    <label>{{workingRequest.description}}</label>
                </div>
                <div class="item">
                    <label>Từ: {{workingRequest.pickupLocation}}</label>
                </div>
                <div class="item">
                    <label>Đến: {{workingRequest.receiveLocation}}</label>
                </div>
            </div>
        </div>
        <!-- end of request list -->

        <!-- Load more scroll -->
        <ion-infinite-scroll ng-if='moreDataCanBeLoaded' on-infinite="loadMoreData()" icon="ion-loading-c"
                             distance="1%">
        </ion-infinite-scroll>
        <!-- end of scroll -->

    </ion-content>
    <div class="tabs-stable tabs-striped tabs-color-balanced">
        <div class="tabs ">
            <a class="tab-item" href="#/tab/chance">
                <i class="icon ion-star"></i>
            </a>
            <a class="tab-item active" href="#/tab/working">
                <i class="icon ion-paper-airplane"></i>
            </a>
            <a class="tab-item" href="#/tab/history">
                <i class="icon ion-chatboxes"></i>
            </a>
        </div>
    </div>
</ion-view>
